.course {
  border: 1px solid black;
  margin-top: 1rem;
  display: flex;
  text-align: left;
  padding: 1rem;
  gap: 2rem;
}
.description {
  flex: 0 0 70%;
}
.information {
  flex: 1 1 auto;
  overflow: hidden;
}
.information span {
  font-weight: 700;
}
.authors {
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.adminButtons {
  display: flex;
  width: 1rem;
  gap: 1rem;
}
.adminButtons button {
  width: 1rem;
}
/* .adminButtons img {
  width: 2rem;
  height: 2rem;
  background-color: none;
  padding: auto;
  margin: auto
} */
