.course {
  border: 1px solid black;
  margin-top: 1rem;
  display: flex;
  text-align: left;
  padding: 1rem;
  gap: 2rem;
}
.description {
  flex: 0 0 70%;
}
.information {
  flex: 0 1 auto;
  overflow: hidden;
}
.information span {
  font-weight: 700;
}
.authors {
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
